{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="p-5  border-2 border-gray-200">
        <div class="max-w-sm p-6 bg-white dark:bg-gray-800 bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">
            <i class="fa fa-users fa-2x " aria-hidden="true"></i>
            <a href="#">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight ">Parties</h5>
            </a>
            <p class="mb-3 font-normal">{{total_parties}}</p>
            <a href="{% url 'parties_view' %}" class="inline-flex items-center text-blue-600 hover:underline">
                Get Details &nbsp;
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                </svg>
            </a>
        </div>
    </div>
    <div class="p-5  border-2 border-gray-200">
        <div class="max-w-sm p-6 bg-white dark:bg-gray-800 bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">
            <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
            <a href="#">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight ">Tasks</h5>
            </a>
            <p class="mb-3 font-normal ">{{total_tasks}}</p>
            <a href="{% url 'tasks_view' %}" class="inline-flex items-center text-blue-600 hover:underline">
                Get Details &nbsp;
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                </svg>
            </a>
        </div>
    </div>
    <div class="p-5  border-2 border-gray-200">
        <div class="max-w-sm p-6 bg-white dark:bg-gray-800 bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">
            <i class="fa fa-money fa-2x" aria-hidden="true"></i>
            <a href="#">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight ">Payment</h5>
            </a>
            <p class="mb-3 font-normal ">Rs. {{total_amount}}/-</p>
            <a href="{% url 'payments_view' %}" class="inline-flex items-center text-blue-600 hover:underline">
                Get Details &nbsp;
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}